version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    groups:
      github-actions:
        patterns:
          - "*"
        update-types:
          - minor
          - patch
    schedule:
      interval: weekly
    assignees:
      - stevehipwell

  - package-ecosystem: docker
    directory: /
    groups:
      docker:
        patterns:
          - "*"
        update-types:
          - minor
          - patch
    ignore:
      - dependency-name: "*"
        update-types: [ "version-update:semver-major" ]
    schedule:
      interval: weekly
    assignees:
      - stevehipwell

  - package-ecosystem: bundler
    directory: /
    groups:
      bundler:
        patterns:
          - "*"
        update-types:
          - minor
          - patch
    schedule:
      interval: weekly
    assignees:
      - stevehipwell
