name: Build OCI Image

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

permissions: read-all

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    outputs:
      git_sha_short: ${{ steps.setup.outputs.git_sha_short }}
      changed: ${{ steps.changes.outputs.any_changed }}
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 2

      - name: Setup
        id: setup
        run: |
          set -euo pipefail

          git_sha_short="$(git rev-parse --short HEAD)"
          echo "git_sha_short=${git_sha_short}" >> "${GITHUB_OUTPUT}"

      - name: Check changes
        id: changes
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        with:
          files_ignore: |-
            .github/**
            CHANGELOG.md
            LICENCE
            README.md

  build:
    name: Build
    uses: action-stars/build-workflows/.github/workflows/build-oci-image.yaml@d0ffef2f9ac1367db899e81a1cf159058f7dd3a1 # v0.10.3
    needs: setup
    if: github.event_name == 'workflow_dispatch' || needs.setup.outputs.changed == 'true'
    permissions:
      attestations: write
      contents: write
      id-token: write
      packages: write
      security-events: write
    with:
      name: ${{ github.event.repository.name }}
      repository: ${{ github.repository_owner }}
      dockerfile: Dockerfile
      platforms: linux/amd64,linux/arm64
      tags: ${{ github.event_name != 'pull_request' && 'main' || format('sha-{0}', needs.setup.outputs.git_sha_short) }}
      scan_image: true
      push_sbom: true
      push_sarif: true
      push_image: true

  review:
    name: Dependency Review
    needs: build
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Lookup snapshot
        id: snapshot
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          set -euo pipefail

          base_sha="${{ github.event.pull_request.base.sha }}"
          head_sha="${{ github.event.pull_request.head.sha }}"

          counter="0"
          while ((counter < 10)); do
            if [[ -z "$(gh api --header "Accept: application/vnd.github+json" --header "X-GitHub-Api-Version: 2022-11-28" --include "/repos/${{ github.repository }}/dependency-graph/compare/${base_sha}...${head_sha}" | grep -E 'X-Github-Dependency-Graph-Snapshot-Warnings:\s*[a-zA-Z0-9]+' || true)" ]]; then
              echo "::notice::Snapshot found on SHA ${base_sha}"
              {
                echo "base_sha=${base_sha}"
                echo "head_sha=${head_sha}"
              } >> "${GITHUB_OUTPUT}"
              exit 0
            fi

            base_sha="$(git rev-parse "${base_sha}~1")"
            counter=$((counter+1))
          done

          echo "::error::Snapshot not found"
          exit 1

      - name: Dependency Review
        uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4.8.2
        with:
          base-ref: ${{ steps.snapshot.outputs.base_sha }}
          head-ref: ${{ steps.snapshot.outputs.head_sha }}
          fail-on-severity: high
          comment-summary-in-pr: always

  check:
    name: Check
    needs:
      - build
      - review
    if: always()
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Check
        run: |
          set -euo pipefail

          results="${{ join(needs.*.result, ' ') }}"

          for result in ${results}; do
            if [[ "$result" == "failure" ]] || [[ "$result" == "cancelled" ]]; then
              echo "::error::Workflow failed!"
              exit 1
            fi
          done
