name: Pull Request

on:
  pull_request:
    branches:
      - main

env:
  LOCAL_TAG: local

jobs:
  build:
    name: Build OCI Image
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b

      - name: Run Hadolint
        uses: hadolint/hadolint-action@f988afea3da57ee48710a9795b6bb677cc901183
        with:
          dockerfile: ./Dockerfile
          format: sarif
          output-file: hadolint.sarif
          no-fail: true

      - name: Upload Hadolint SARIF report
        uses: github/codeql-action/upload-sarif@e0e5ded33cabb451ae0a9768fc7b0410bad9ad44
        with:
          category: hadolint
          sarif_file: hadolint.sarif

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@dc7b9719a96d48369863986a06765841d7ea23f6

      - name: Build OCI image
        id: build
        uses: docker/build-push-action@c84f38281176d4c9cdb1626ffafcd6b3911b5d94
        with:
          file: ./Dockerfile
          context: .
          platforms: linux/amd64
          tags: "${{ github.repository }}:${{ env.LOCAL_TAG }}"
          load: true
          push: false

      - name: Generate OCI image SBOM
        uses: anchore/sbom-action@b5042e9d19d8b32849779bfe17673ff84aec702d
        with:
          image: "${{ github.repository }}:${{ env.LOCAL_TAG }}"
          dependency-snapshot: true
          format: spdx-json
          artifact-name: ${{ github.event.repository.name }}-sbom.spdx.json
          output-file: ${{ github.event.repository.name }}-sbom.spdx.json

      - name: Scan OCI image SBOM with Grype
        id: scan
        uses: anchore/scan-action@ecfd0e98932e57ea8f68f29c4f418fc41a8194db
        with:
          sbom: ${{ github.event.repository.name }}-sbom.spdx.json
          severity-cutoff: medium
          acs-report-enable: true
          fail-build: false

      - name: Upload Grype SARIF report
        uses: github/codeql-action/upload-sarif@e0e5ded33cabb451ae0a9768fc7b0410bad9ad44
        with:
          category: grype
          sarif_file: ${{ steps.scan.outputs.sarif }}
